.App {
  background-color: #333;
  padding-bottom: 250px;
}


.container .search {
  width: 70%;
  padding: 5px;
  margin-bottom: 20px;
}

.container #button {
  height: 40px;
  margin-left: 10px;
  background-color: rgb(0,0,139);
  border-color: #fff

}

.container #button:hover {
  background-color: #fff;
  border-color: #fff;
  color: rgb(0,0,139)
}


.container h3 {
  background-color: #fff;
  color: rgb(0,0,139);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #fff;
  margin-bottom: 25px;
}









@media(min-width: 768px) {
  .container .search {
    width: 30%;
  }
}
